<div id="footer">
  <div class="container">
    <div  *ngIf="photos">
      <div class="row">
        <!-- Photos -->
        <section class="col-12">
          <header>
            <h2 class="icon solid fa-camera circled">
              <span class="label">Photos</span>
            </h2>
          </header>
          <div class="row gtr-25">
            <div *ngFor="let phot of photoList" class="col-4 col-6-mobile">
              <a href="#" class="image fit">
                <img src="/assets/images/pic10.jpg" alt=""/>
              </a>
            </div>
          </div>
        </section>
      </div>

      <hr />
    </div>

    <!-- Contact -->
    <div class="row">
      <div class="col-12">
        <section class="contact">
          <header>
            <h3>Nisl turpis nascetur interdum?</h3>
          </header>
          <p>
            Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus
            lobortis vivamus tempor aliquet.
          </p>
          <ul class="icons">
            <li>
              <a 
                *ngFor="let social of socialNetworks"
                [href]="social.url" 
                [class]="'icon brands ' + social.icon"
                target="_blank"
              >
                <span class="label">
                  {{social.label}}
                </span>
              </a>
            </li>
          </ul>
        </section>

        <!-- Copyright -->
        <div class="copyright">
          <ul class="menu">
            <li>&copy; Untitled. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
